Repository Saticmotion/Vivista, pull requests merged in 2018-05, with the labels that each got.

#97 VersionManager (#60)
  Assets/Editor.unity
  Assets/Player.unity
  Assets/Prefabs/TestCube.prefab
  Assets/Resources/TestAssets.meta
  Assets/Resources/TestAssets/NoVersionNoPointsOutdatedSaveFile.txt
  Assets/Resources/TestAssets/NoVersionNoPointsOutdatedSaveFile.txt.meta
  Assets/Resources/TestAssets/NoVersionOutdatedSaveFile.txt
  Assets/Resources/TestAssets/NoVersionOutdatedSaveFile.txt.meta
  Assets/Scripts/Editor.cs
  Assets/Scripts/Editor/AutomatedBuild.cs
  Assets/Scripts/InteractionPoints.cs
  Assets/Scripts/Player.cs
  Assets/Scripts/SaveFile.cs
  Assets/Scripts/TestCube.cs
  Assets/Scripts/UIScripts/FilePanel.cs
  Assets/Scripts/UIScripts/Hittable.cs
  Assets/Scripts/UIScripts/ImagePanel.cs
  Assets/Scripts/UIScripts/IndexPanel.cs
  Assets/Scripts/UIScripts/IndexPanelVideo.cs
  Assets/Scripts/UIScripts/TextPanel.cs
  Assets/Scripts/UIScripts/VideoPanel.cs
  Assets/Scripts/VersionManager.cs
  Assets/Scripts/VersionManager.cs.meta
  Assets/UIPrefabs/IndexPanelVideo.prefab
  Assets/_VideoBrowser/PreFabs/projector.prefab
  Assets/_VideoBrowser/PreFabs/projector11_3.prefab
Labels: editor, enhancement, high-priority, player

#109 Interaction-counter and compass (#104)
  Assets/Editor.unity
  Assets/Player.unity
  Assets/Scripts/Controller.cs
  Assets/Scripts/Player.cs
  Assets/Scripts/UIScripts/IndexPanelVideo.cs
  Assets/Scripts/UIScripts/Seekbar.cs
  Assets/UIPrefabs/CompassBlip.prefab
  Assets/UIPrefabs/CompassBlip.prefab.meta
  Assets/UIPrefabs/PlayerInfo.prefab
  Assets/UITextures/CompassBlip.png
  Assets/UITextures/CompassBlip.png.meta
  Assets/UITextures/IconPause.svg
  Assets/UITextures/IconPlay.svg
  Assets/UITextures/IconPlay.svg.meta
  Assets/UITextures/sign-out-alt.png
  Assets/UITextures/sign-out-alt.png.meta
Labels: enhancement, player

#111 Crosshair Improvements (#91 #108)
  Assets/Editor.unity
  Assets/Player.unity
  Assets/Scripts/FileLoader.cs
  Assets/Scripts/Player.cs
  Assets/Scripts/UIScripts/Canvass.cs
  Assets/Scripts/UIScripts/MultipleChoicePanel.cs
  Assets/UIPrefabs/AnswerToggle.prefab
  Assets/UIPrefabs/MultipleChoicePanel.prefab
  Assets/UITextures/CheckImage.png
  Assets/UITextures/CheckImage.png.meta
  Assets/UITextures/cross.png
  Assets/UITextures/cross.png.meta
Labels: editor, enhancement, player
